.accordion-container {
  margin-top: 50px;
}

.flight-info {
  display: flex;
  align-items: center;
}
.flight_img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}
.flight-info__time {
  font-size: 16px;
  font-weight: 600;
  color: #212224;
}

.flight-info__carrier {
  margin-top: -10px;
  color: #a1a3a4;
}

.flight-duration,
.flight-emissions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flight-duration__time {
  display: flex;
  align-items: center;
}
.flight-info__emissions {
  color: #212224;
  font-size: 1.2rem;
}
.flight-info__emission-amount {
  background-color: #e6f4ea;
  padding: 5px;
  border-radius: 4px;
  color: #0d652d;
}

.flight-info__displayCode {
  color: #a1a3a4;
}

.flight-info__stopCount {
  font-size: 18px;
  font-weight: 500;
  color: #212224;
}
.flight-info__price {
  text-align: center;
}

.flight-info__priceText {
  font-size: 18px;
  color: #1a834a;
  font-weight: 600;
}

.flight-card {
  padding: 8px;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.flight-left {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 160px;
}
.flight-left-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.flight-row {
  display: flex;
  gap: 8px;
  align-items: center;
}

.flight-time {
  font-size: 1.4rem;
  font-weight: bold;
}

.flight-location {
  color: #666;
  font-size: 1.1rem;
}

.flight-duration {
  align-self: self-start;
  padding-top: 20px;
  padding-bottom: 20px;
}

.divider {
  margin: 10px 0;
  border: 0;
  height: 1px;
  background: #ccc;
}

.flight-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.mapContainer {
  height: 300;
  width: "100%";
  border-radius: "12px";
}
